/* CSS para layout desktop */

@media only screen and (min-width: 60em) { /* > 960 */

.pre-header{
	min-height: 46px;
	height: 46px;
}


.pre-header .pre-header-grid{
	width: 1000px;
	padding: 0;
	height: 100%;
}

.pre-header .pre-header-grid #block-block-1{
	width: 	60px;
	float: left;

}

.pre-header .pre-header-grid #block-search-form{
	width: 202px;
	float: left;
	padding: 6px 15px 0;
	height: 100%;
	border-right: 1px solid #fff;
	margin-left: 350px;

	
}

.pre-header .pre-header-grid #block-block-2{
	width: 143px;
	float: left;
	padding: 0 0 0 7px;
	border-right: 1px solid #fff;
	height: 100%;
}
.pre-header .pre-header-grid #block-block-3{
	width: 244px;
	float: left;
	border-right: 1px solid #fff;
	height: 100%;
	padding: 0 0 0 8px;
}

/*  Header */

.header .grid{
	width: 1000px;
	margin: 0 auto;
	padding: 30px 0 0;
}

#block-system-main-menu{
	 width: 572px;
	float: right;
	margin-top: 40px;
}

#block-system-main-menu ul li.menu-218{
	margin-right: 30px;
    width: 32px;
    height: 30px;

}

#block-system-main-menu ul li.menu-591{
	padding-right: 18px;
    width: 85px;

}

#block-system-main-menu ul li.menu-592{
	 padding-right: 22px;
    width: 112px;
}

#block-system-main-menu ul li.menu-593{
	padding-right: 24px;
    width: 110px;
}

#block-system-main-menu ul li.menu-594{
	padding-right: 20px;
    width: 126px;
}

#block-system-main-menu ul li.menu-595{
	width: 70px;
}

#logo {
    border: 0 none;
    display: block;
    float: left;
    width: auto;
    margin-top: 12px;
}
#block-system-main-menu ul li a{
	font-size: 14px;
}

.header {

    min-height: 155px;
}

.footer .grid{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.footer #block-menu-block-1{
    float: left;
    width: 572px;
}


.footer #block-menu-block-1 ul li.menu-218{
	margin-right: 30px;
    width: 32px;
    height: 30px;

}

.footer #block-menu-block-1 ul li.menu-591{
	padding-right: 18px;
    width: 85px;

}

.footer #block-menu-block-1 ul li.menu-592{
	 padding-right: 22px;
    width: 112px;
}

.footer #block-menu-block-1 ul li.menu-593{
	padding-right: 24px;
    width: 110px;
}

.footer #block-menu-block-1 ul li.menu-594{
	padding-right: 20px;
    width: 126px;
}

.footer #block-menu-block-1 ul li.menu-595{
	width: 70px;
}

.prefooter .grid{
	width: 1000px;
	margin: 0 auto;
	padding: 0;
}

.main-content{
    padding: 0;
    max-width: 1000px;
    overflow: hidden;
}


.node-type-proyectos-y-servicios .field-name-field-image {
    width: 10.5%;
height: 85px;
}

.node-type-proyectos-y-servicios  .field-name-title{
	width: 89.5%;
	height: 85px;
}

.node-type-proyectos-y-servicios .field-name-enlace-contacto a{
	float: right;
}


.view-id-catetorias_producto .views-row{

	height: 475px;

}

.title-box-noticias-promociones {
    
}

.page-noticias-y-promociones .main,
.node-type-blog .main{
	padding: 0;
	width: 64%;
}

.page-noticias-y-promociones.one-sidebar #sidebar-first,
.node-type-blog.one-sidebar #sidebar-first{
	padding: 0;
	width: 32%;

}


}
