/* CSS Global para todo el sitio */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,600,700|Roboto:400,300,700|Open+Sans:400,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100);


html {
 border-top: none; 
}

body {
	 margin: 0;
}

a:link,
a:visited {
  border-bottom: none;
}
a:hover{
	background-color: transparent;
}

/* Preheader */
.pre-header{
	background-color: #01A2D2;
}

.pre-header .pre-header-grid{
	width: 100%;
	padding: 0 4%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-block-1{
	width: 80%;
	margin: 10px auto 0;
	height: 27px;
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box{
	width: 100%;
}
.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes{
	float: left;
	width: 27px;
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes a{
	
	display: block;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes a:hover{
	transform: translate(0px, -2px);
	-ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes.redes-linkedin {
    margin-right: 5px;
}

.pre-header .pre-header-grid #block-search-form{
	width: 80%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-search-form input#edit-search-block-form--2{
	border: 0;
	border-radius: 5px 5px 5px 5px;
	background-color: #017D9D;
	width: 173px;
	height: 33px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	line-height: normal;
	padding: 0 8px;
}
.pre-header .pre-header-grid #block-search-form label{
	display: none;
}

.pre-header .pre-header-grid #block-search-form #edit-actions,
.pre-header .pre-header-grid #block-search-form #edit-actions--2{
	position: absolute;
    right: 6px;
    top: 3px;
}

.pre-header .pre-header-grid #block-search-form #search-block-form{
	position: relative;
}

.pre-header .pre-header-grid #block-block-2{
	width: 80%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-block-2 a,
.pre-header .pre-header-grid #block-block-2 a:hover,
.pre-header .pre-header-grid #block-block-2 a:visited{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 700;
	font-size: 13px;
}
	
.pre-header .pre-header-grid #block-block-2 .telefono-box-inner{
	padding-left: 28px;
	width: 100%;
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/preheader-telefono-icon.png);
}

.pre-header .pre-header-grid #block-block-2 .preheader-telefono-box {
	height: 100%;
	 padding-top: 8px;	
}

.pre-header .pre-header-grid #block-block-3{
	width: 80%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-block-3 a,
.pre-header .pre-header-grid #block-block-3 a:hover,
.pre-header .pre-header-grid #block-block-3 a:visited{
	color: #ffffff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

.pre-header .pre-header-grid #block-block-3 .correos-box-inner{
	padding-left: 32px;
	width: 100%;
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/preheader-correos-icon.png);
}

.pre-header .pre-header-grid #block-block-3 .preheader-correos-box{
    padding-top: 6px;
}



/* Header */

.header{
	background-color: #ffffff;
	border-bottom: 6px solid #00B052;
	min-height: 155px;
}

.header .grid{
	width: 100%;
	margin: 0 auto;
	padding: 0 4%;
}

#block-system-main-menu{

}
#block-system-main-menu ul {
	margin: 0;
	padding: 0;	
}

#block-system-main-menu ul li{
	display: inline-block;
	padding:0;
	margin: 0;
	list-style-type: none;
	height: 30px;
	float: left;
}

#block-system-main-menu ul li a{
	font-family: "Roboto",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 16px;
    color: #6D6E71;
    transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
#block-system-main-menu ul li a:hover{
	
    color: #01A2D2;
}
#block-system-main-menu ul li a.active{
	color: #01A2D2;
}

#block-system-main-menu ul li.menu-218{
	margin-right: 24px;
    width: 32px;
    height: 30px;

}
#block-system-main-menu ul li.menu-218 a{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left -2px;
	background-image: url(../images/logo-home-menu.png);
	overflow: hidden;
    padding-left: 35px;
    width: 32px;
    height: 100%;
}

#block-system-main-menu ul li.menu-591{
	padding-right: 18px;
    width: 83px;

}

#block-system-main-menu ul li.menu-592{
	 padding-right: 20px;
    width: 106px;
}

#block-system-main-menu ul li.menu-593{
	padding-right: 24px;
    width: 108px;
}

#block-system-main-menu ul li.menu-594{
	padding-right: 20px;
    width: 120px;
}

#block-system-main-menu ul li.menu-595{
	width: 70px;
}


.footer{
	max-width: 100%;
    width: 100%;
	margin: 0;
	background-color: #414042;
	min-height: 200px;
	padding-top: 26px;
}

.parrafo-izq, .parrafo-der {
	float: left;
	width: 50%;	
	 margin-bottom: 6px;

}

.footer .grid{
	width: 100%;
	padding: 0 4%;
	margin: 0 auto;
}

.footer #block-menu-block-1{
    margin-top: 8px;
}

.footer #block-menu-block-1 ul {
    margin: 0;
    padding: 0;
}

.footer #block-menu-block-1 ul li{
	display: inline-block;
	padding:0;
	margin: 0;
	list-style-type: none;
	height: 30px;
	float: left;
}

.footer #block-menu-block-1 ul li a{
	font-family: "Roboto",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 16px;
    color: #AFAFAF;
    transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.footer #block-menu-block-1 ul li a:hover{
	
    color: #01A2D2;
}
.footer #block-menu-block-1 ul li a.active{
	color: #01A2D2;
}

.footer #block-menu-block-1 ul li.menu-218{
	margin-right: 24px;
    width: 32px;
    height: 30px;

}
.footer #block-menu-block-1 ul li.menu-218 a{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left -2px;
	background-image: url(../images/logo-home-menu-footer.png);
	overflow: hidden;
    padding-left: 35px;
    width: 32px;
    height: 100%;
}

.footer #block-menu-block-1ul li.menu-591{
	padding-right: 18px;
    width: 83px;

}

.footer #block-menu-block-1 ul li.menu-592{
	 padding-right: 20px;
    width: 106px;
}

.footer #block-menu-block-1 ul li.menu-593{
	padding-right: 24px;
    width: 108px;
}

.footer #block-menu-block-1 ul li.menu-594{
	padding-right: 20px;
    width: 120px;
}

.footer #block-menu-block-1 ul li.menu-595{
	width: 70px;
}

.footer #block-block-4{
	width: 224px;
	float: right;
	text-align: right;
}

.footer #block-block-4 .correo-box a{
	display: block;
	font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: #AFAFAF;
}

.footer #block-block-4 .correo-box{
	width: 100%;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left 2px;
	background-image: url(../images/footer-correo-icon.png);
}

.footer #block-block-4 .redes-box .redes-box-linkedin,
.footer #block-block-4 .redes-box .redes-box-youtube{
	width: 36px;
	float: left;
}

.footer #block-block-4 .redes-box .redes-box-linkedin{
	margin-right: 5px;
}

.footer #block-block-4 .redes-box  {
    float: right;
    width: 78px;
    margin-top: 10px;
}

.footer #block-block-4 .redes-box a{
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	display: block;
}

.footer #block-block-4 .redes-box a:hover{
	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

#imageData #bottomNav{
	display: none !important;
}

.prefooter{
	min-height: 88px;
	width: 100%;
	max-width: 100%;
	background-color: #313032;
}

.prefooter .grid{
	width: 100%;
	padding: 0 4%;
	margin: 0 auto;
}

.prefooter .sucursal{
	
	float: left;
	margin: 15px 0;
	border-left: 1px solid #676668;
	height: 57px;
	padding-left: 42px;
}

.prefooter .sucursal.sucursal1{
	width: 303px;
}

.prefooter .sucursal.sucursal2{
	width: 350px;
}

.prefooter .sucursal.sucursal3{
	border-right: 1px solid #676668;
	width: 342px;
}

.prefooter .sucursal .link-mapa{
	width: 44px;
	float: left;
	height: 100%;


}

.prefooter .sucursal .info-sucursal{
	float: left;
	height: 100%;
	margin-left: 14px;
}

.prefooter .sucursal1 .info-sucursal{
	width: 200px;
}

.prefooter .sucursal2 .info-sucursal{
	width: 245px;
}

.prefooter .sucursal3 .info-sucursal{
	width: 240px;
}

.prefooter .sucursal .info-sucursal p{
	color: #afafaf;
    font-family: "Exo 2",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    margin: 0;
}

.prefooter .sucursal .info-sucursal p a{

	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	color: #afafaf;
}

.field-name-field-banner-proyectos-servicios {float: left;}
.field-name-field-image .field-label {display: none;}
.prefooter .sucursal .info-sucursal p a:hover{

	color: #01a2d2;
}

.field-name-field-banner-proyectos-servicios {float: left;}


/*Quienes Somos*/

.flexslider{
	border-radius: 0 !important;
	border: 0 !important;
	background-color: transparent !important;
	box-shadow: none;
}

.node-producto.node-teaser {
     float: left;
    height: 654px;
    margin: 0 2.66% 30px;
    width: 28%;
    position: relative;

}

.flex-control-paging li a{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/slider-bullet.png);	
	width: 27px;
	box-shadow: none;
	height: 27px;
}

.flex-control-paging li a:hover{
	background-color: transparent;
	box-shadow: none;
	background-image: url(../images/slider-bullet.png);	
	border-bottom: 0;
}

.flex-control-paging li a.flex-active{
	background-image: url(../images/slider-bullet-active.png);
	background-color: transparent;
	box-shadow: none;
}

.flex-control-nav {
    bottom: 22px;
    z-index: 9999;
}

.flex-control-nav li {
    display: inline-block;
    margin: 0 2px;
}


h1#page-title{
	font-family: "Roboto",sans-serif;
    font-size: 33px;
    font-weight: 700;
    line-height: 35px;
    color: #00B052;
    font-style: normal;
    text-transform: uppercase;
    margin-bottom: 38px;
    margin-top: 14px;
}

.field-name-body{
	clear: both;
	padding-top: 28px;
}

.page-node-1 .field-name-body{
	padding-top: 28px;
}
.titulo-h2-wrapper{
	width: 100%;
	background-image: url(../images/linea-bg-h2.png);
	background-position: right center;
	background-repeat: no-repeat;
	overflow: hidden;
	margin: 0px 0 50px;
	float: left;
}


.titulo-h2-wrapper h2{
	background-color: #fff;
    display: block;
    float: left;
    margin: 0;
    padding-right: 30px;
	font-family: "Roboto",sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    color: #01A2D2;
    text-transform: uppercase;


}

.field-name-body .parrafo-izq p,
.field-name-body .parrafo-der p{
	margin-top: 0;
}

.field-name-body p{
	 color: #666666;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.field-name-body ul li{
	color: #666666;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.field-name-body .parrafo-izq{
	padding-right: 30px;
}
.field-name-body .parrafo-der{
	padding-left: 30px;
}

#block-views-7ccaf080a911fe25adfb16a42977819c{
	width: 100%;
	background-color: #F5F5F5;
	padding: 55px 0 20px;
	min-height: 345px;
}

#block-views-7ccaf080a911fe25adfb16a42977819c .titulo-h2-wrapper h2{
	background-color: #f5f5f5;
}

#block-views-7ccaf080a911fe25adfb16a42977819c .titulo-h2-wrapper{
	 margin: 0px 0 70px;
}



#block-views-7ccaf080a911fe25adfb16a42977819c .parrafo-izq{
	padding-right: 30px;
}
#block-views-7ccaf080a911fe25adfb16a42977819c .parrafo-der{
	padding-left: 30px;
}

#block-views-7ccaf080a911fe25adfb16a42977819c h3{
	margin-top: 0;
	font-family: "Roboto",sans-serif;
    font-size: 27px;
    font-weight: 700;
    line-height: 30px;
    color: #666666;
    margin-bottom: 16px;
}

#block-views-7ccaf080a911fe25adfb16a42977819c  p{
	color: #666666;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-top: 0;
}

#block-views-banner-paginas-block-valores .item-list{
	clear: both;
}

#block-views-banner-paginas-block-valores .item-list ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#block-views-banner-paginas-block-valores .item-list ul li{
	margin-left: 0;
	display: block;
	width: 29.6%;
	height: 175px;
	float: left;
	border: 1px solid #666666;
	margin-right: 5.6%;;
	margin-bottom: 28px;
	padding: 25px 30px;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

#block-views-banner-paginas-block-valores .item-list ul li:hover{
	transform: translate(0px, -2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
	box-shadow: 0 4px 16px #666;
}

#block-views-banner-paginas-block-valores .item-list ul li:nth-child(3n+3){
	margin-right: 0;
}

#block-views-banner-paginas-block-valores .item-list ul li .field-name-field-titulo p,
#block-views-banner-paginas-block-valores .item-list ul li .field-name-field-titulo{
	margin-top: 0;
	font-family: "Roboto",sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 25px;
    color: #01A2D2;
    text-transform: uppercase;
}

#block-views-banner-paginas-block-valores .item-list ul li .field-name-field-descripcion p,
#block-views-banner-paginas-block-valores .item-list ul li .field-name-field-descripcion{
	color: #666666;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
}

#block-views-banner-paginas-block-valores{
	padding: 52px 0 45px;
}

/* Proyectos y Servicios */

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row{
	height: 360px;
	float: left;
	margin-right: 2.5%;
	padding: 0;
	margin-bottom: 35px;

}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-3,
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-6,
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-9,
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-12,
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-15,
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-18,
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row-21{
	margin-right: 0;
}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-field-image{
	text-align: center;
	z-index: 1;
}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-field-image a{
	display: block;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s; /* For Safari 3.1 to 6.0 */
}
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-field-image a:hover{

	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);

}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-nothing{
	background-color: #EDEEEE;
	height: 284px;
	width: 100%;
	padding: 70px 30px 0;
	z-index: -1;
	margin-top: -70px;
}

.main-content{
	width:100%;
	padding: 0 4%;
}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-nothing .cuerpo-proyecto-servicio h2{
	margin-top: 0;
	line-height: 20px;
	margin-bottom: 22px;
}
.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-nothing .cuerpo-proyecto-servicio h2 a{
	margin-top: 0;
	font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    color: #01A2D2;
    text-transform: uppercase;
}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-nothing .cuerpo-proyecto-servicio h2 a span{
	display: block;
    font-size: 18px;
    line-height: 20px;
}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios .views-row .views-field-nothing .cuerpo-proyecto-servicio p,
.jcarousel-view--proyectos-y-servicios--block-1 .views-field-body p{
	color: #58595B;
	font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
}

.page-proyectos-y-servicios .view-id-proyectos_y_servicios{
    display: block;
    float: left;
    margin-bottom: 124px;
    width: 100%;
}

h2#title-proyectos-servicios,
.pane-proyectos-y-servicios h2.pane-title{
	color: #00b052;
    font-family: "Roboto",sans-serif;
    font-size: 33px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.node-type-proyectos-y-servicios .field-name-field-image {
    float: left;
    height: 85px;
    width: 12%;
    z-index: 1;
    background-color: #fff;
    overflow: hidden;
}

.node-type-proyectos-y-servicios  .field-name-title{
	width: 88%;
	z-index: -1;
	float: left;

    height: 85px;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: right center;
    background-image: url(../images/bg-h1-proyectos.png);
    overflow: hidden;
    margin-bottom: 24px;
}

.node-type-proyectos-y-servicios  .field-name-title h1{
	background-color: #ffffff;
    color: #01a2d2;
    display: block;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    margin-bottom: 0;
    margin-top: 0;
    padding-right: 20px;
}

.node-type-proyectos-y-servicios .field-name-enlace-contacto,
.node-type-producto .field-name-enlace-contacto,
.page-taxonomy-term .field-name-enlace-contacto{
	width: 50%;
	padding-left: 2.5%;
	float: right;	
}

.node-type-proyectos-y-servicios .field-name-enlace-contacto p,
.node-type-producto .field-name-enlace-contacto p,
.page-taxonomy-term .field-name-enlace-contacto p{
	 color: #01A2D2;
    display: block;
    float: left;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    width: 290px;
    line-height: 18px;
    margin: 0 0 20px 0;
}

.node-type-proyectos-y-servicios .field-name-enlace-contacto a,
.node-type-producto .field-name-enlace-contacto a,
.page-taxonomy-term .field-name-enlace-contacto a{
	width: 142px;
	height: 32px;
	display: block;
	float: left;
	text-transform: uppercase;
	color: #fff;
	padding: 0 15px;
	border-radius: 10px;
	font-family: "Roboto",sans-serif;
    font-size: 16px;
    background-color: #01A2D2;
    line-height: 32px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s; /* For Safari 3.1 to 6.0 */
}

.node-type-proyectos-y-servicios .field-name-enlace-contacto a:hover,
.node-type-producto .field-name-enlace-contacto a:hover,
.page-taxonomy-term .field-name-enlace-contacto a:hover{
	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

.node-type-proyectos-y-servicios .node-proyectos-y-servicios{
	min-height: 1190px;
}

.node-type-proyectos-y-servicios .field-name-body{
	clear: both;
	padding-top: 0;
}

.node-type-proyectos-y-servicios .listado-marcas li.logo-marca-first {
	margin-left: 0;
}

.node-type-proyectos-y-servicios .listado-marcas li.logo-marca-last {
	margin-right: 0;
}

.node-type-proyectos-y-servicios .field-name-body h3,
.node-type-proyectos-y-servicios .marcas h3,
.page-taxonomy-term .marcas h3,
.page-taxonomy-term .vocabulary-categoria-productos .marcas h3,
.node-type-proyectos-y-servicios .certificaciones h3{
	color: #01A2D2;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    margin-top: 0;
}



.node-type-proyectos-y-servicios .certificaciones h3{
	text-transform: uppercase;
}



.node-type-proyectos-y-servicios .marcas,
.page-taxonomy-term .vocabulary-categoria-productos  .marcas{
	margin-bottom: 50px;
	clear: both;
}

.node-type-proyectos-y-servicios .listado-marcas,
.page-taxonomy-term .vocabulary-categoria-productos .listado-marcas {
    padding-left: 0;
}

.node-type-proyectos-y-servicios .listado-marcas li,
.page-taxonomy-term .vocabulary-categoria-productos .listado-marcas li {
    display: inline-block;
    list-style-type: none;
    margin: 0 10px;
}

.view-id-catetorias_producto .views-row{
	width: 28.13%;
	padding: 0;
	margin-right: 7.8%;
	height: 475px;
	float: left;
	margin-bottom: 50px;
	position: relative;
}

.view-id-catetorias_producto .views-row-3,
.view-id-catetorias_producto .views-row-6,
.view-id-catetorias_producto .views-row-9,
.view-id-catetorias_producto .views-row-12,
.view-id-catetorias_producto .views-row-15
{
	margin-right: 0;
}

.view-id-catetorias_producto .views-row .views-field-name{
	 margin-bottom: 8px;
    margin-top: 10px;
    min-height: 56px;
}

.view-id-catetorias_producto .views-row .views-field-name a{
	color: #1c75b8;
    font-family: "Roboto",sans-serif;
    font-size: 19px;
    font-weight: normal;
    line-height: 28px;
    text-transform: uppercase;

}

.view-id-catetorias_producto .views-row .views-field-description-1 p,
.pane-catetorias-producto .jcarousel-item .views-field-description p,
.pane-blog .jcarousel-item .views-field-body p,
.vocabulary-categoria-productos .taxonomy-term-description p,
.node-type-producto .views-field-description p {
	margin-top: 0;
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
}

.view-id-catetorias_producto .views-row .views-field-path{
	position: absolute;
	bottom: 0;
	left: 0;
}
.view-id-catetorias_producto .views-row .views-field-path a{
	background-color: #01a2d2;
    border-radius: 8px;
    color: #ffffff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    width: 96px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s; /* For Safari 3.1 to 6.0 */
}

.view-id-catetorias_producto .views-row .views-field-path a:hover{
	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

.view-id-catetorias_producto .views-row .views-field-field-image img{
	border: 1px solid #c8c8c8;
}

.page-productos .main-content {
	padding-bottom: 250px;
}
/* Juan */
.node-banner.node-teaser .links {
	display: none;
}

/* Eliminamos el grid del home page debido a que se establece por medio de paneles */
.front .main-content {
	max-width: 100%;
}

.panels-flexible-region {
	float: none;
}

/* estilo básico jcarousel */
.jcarousel-skin-default .jcarousel-container-horizontal,
.jcarousel-skin-default .jcarousel-clip-horizontal{
	width: 100% !important;
	height: 470px !important;
	padding: 0 !important;
}

.jcarousel-skin-default .jcarousel-item-horizontal {
	height: 470px !important;
	border: none;
}

.jcarousel-view--blog--bloque-noticias-promociones-home-page .jcarousel-item-horizontal,
.jcarousel-view--certificados--bloque-certificaciones-home-page .jcarousel-item-horizontal { 
	height: 250px !important;
}

.jcarousel-view--certificados--bloque-certificaciones-home-page .jcarousel-item-horizontal { 
	margin: 0;
}

.view-display-id-bloque_noticias_promociones_home_page .jcarousel-skin-default .jcarousel-container-horizontal, .view-display-id-bloque_noticias_promociones_home_page .jcarousel-skin-default .jcarousel-clip-horizontal,
.view-id-certificados .jcarousel-skin-default .jcarousel-container-horizontal, .view-id-certificados .jcarousel-skin-default .jcarousel-clip-horizontal {
	height: 250px !important;
}

.view-id-certificados .jcarousel-skin-default .jcarousel-container-horizontal, .view-id-certificados .jcarousel-skin-default .jcarousel-clip-horizontal {
	height: 160px !important;
}

.jcarousel-view--certificados--bloque-certificaciones-home-page .jcarousel-item-horizontal { 
	height: 160px !important;
}

.breadcrumbs div.breadcrumb{
	color: #9d9d9d;
    display: inline-block;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 20px;
    line-height: 20px;
    margin: 0 4px;
    padding: 0;
}

.breadcrumbs div.breadcrumb a{
	color: #9D9D9D;
    font-family: "Roboto",sans-serif;
    text-decoration: none;
}

.breadcrumbs div.breadcrumb-1 {
	background-color: transparent;
    background-image: url("../images/breadcrumb-inicio.png");
    background-position: center top;
    background-repeat: no-repeat;
    height: 26px;
    margin-bottom: -2px;
    overflow: hidden;
    width: 28px;
}

.breadcrumbs div.breadcrumb-1 a{
	 display: block;
    height: 100%;
    line-height: 26px;
    padding-left: 30px;
    width: 100%;
}

.breadcrumbs {
    margin-top: 35px;
}

/* Juan: style homepage flexslider */
.flexslider-homepage .slides {
	max-height: 486px;
	overflow: hidden;
}

.flexslider-homepage img {
	width: 100%;
}

.flex-direction-nav {
display: none;
}
.slides li{
	position: relative;
}
.slides li a .flex-caption-absoluto{
	position: absolute;
	width: 100%;
	top: 40%;
}
.slides li a .flex-caption-absoluto .flex-caption {
	width: 998px;
	margin: 0 auto;
	background-repeat: repeat-x;
	background-image: url("../images/fondo-caption-banner.png");
}

.flex-caption p{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 22px;
	line-height: 40px;
	text-transform: uppercase;
	padding: 16px 296px 16px 28px;
	color: #01A2D2;
	margin: 0;
	background-image: url("../images/flecha-caption-banner.png");
	background-position: top right;
	background-repeat: no-repeat;
	letter-spacing: -0.5px;
}

.panels-flexible-region.encabezado .pane-content p{
	font-family: 'Roboto Slab', serif;
	font-size: 32px;
	font-weight: 500;
	text-align: center;
	color: #959595;
	line-height: 40px;
	border-bottom: 1px solid #ddd;
	margin: 0.8em 0;
	padding: 0.6em 0.5em 1.2em 0.5em;
}

.taxonomy-term.vocabulary-categoria-productos .field-name-title h2,
.node-type-producto .views-field-field-categoria h2{
	color: #01A2D2;
    font-family: "Roboto",sans-serif;
	font-weight: 700;
font-size: 27px;
	text-transform: uppercase;
	margin: 0;

}

.taxonomy-term.vocabulary-categoria-productos .taxonomy-term-description p{
	color: #58595B;
    font-family: "Roboto",sans-serif;
	font-weight: 300;
	margin: 0;
	
}

.taxonomy-term.vocabulary-categoria-productos .group-right .field-name-enlace-contacto{
	display: none;
}

.taxonomy-term.vocabulary-categoria-productos .group-right .field-name-field-detalle-producto-categoria+div.field-name-enlace-contacto{
	display: block;
}

.node-producto.node-teaser .field-name-title h3{
	  color: #1c75b8;
    font-family: "Roboto",sans-serif;
    font-size: 20px;
    font-weight: 400;
    height: 42px;
    line-height: 20px;
    margin: 26px 0 0;
    text-transform: uppercase;
}

.node-producto.node-teaser .field-name-title h3 a{
	color: #1C75B8;
    font-family: "Roboto",sans-serif;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;
}

.node-producto.node-teaser .field-name-body {
	padding-top: 16px;
	height: 310px;
}

.node-producto.node-teaser .field-name-body p {
	color: #58595b;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 300;
    line-height: 21px;
    margin-top: 0;
}

.node-producto.node-teaser .field-name-node-link{
	/*bottom: 0;
    left: 0;
    position: absolute;*/
}


.node-producto.node-teaser .field-name-node-link a {
    background-color: #01a2d2;
    border-radius: 8px;
    color: #ffffff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    width: 96px;
}

.node-producto.node-teaser .field-name-node-link a:hover {
    transform: translate(0px,-2px);
}

.node-producto.node-teaser .field-name-field-image img{
	border: 1px solid #C8C8C8;
}

.page-taxonomy-term-2 .term-listing-heading+p,
.page-taxonomy-term-1 .term-listing-heading+p{
	display: none;

}

/* estilo carousel nuestros proyectos y servicios */
.jcarousel-view--proyectos-y-servicios--block-1 .views-field-title h3{
	font-family: 'Roboto', serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0 10px 27px 10px;
	letter-spacing: -0.8px;
	line-height: 16px;
	font-weight: bold;
	margin-top: 13px;
	margin-bottom: 15px;
	background-image: url("../images/borde-inferior-titulo-proyectos-home.png");
	background-repeat: no-repeat;
	background-position: bottom center;
	min-height: 75px;
}

.jcarousel-view--proyectos-y-servicios--block-1 .views-field-title a{
	color: #4D4D4D;	
}

.jcarousel-view--proyectos-y-servicios--block-1 .views-field-title a:hover {
	color: #000;
}

.jcarousel-view--proyectos-y-servicios--block-1 .views-field.views-field-path {
	position: absolute;
	bottom: 14px;
	width: 196px;
}

.jcarousel-view--catetorias-producto--bloque-nuestros-productos .views-field.views-field-path,
.jcarousel-view--blog--bloque-noticias-promociones-home-page .views-field.views-field-path {
	position: absolute;
	bottom: 2px;
	width: 196px;
}

.jcarousel-view--certificados--bloque-certificaciones-home-page .node-certificaciones .certificaciones .listado{
	list-style: none;
	padding: 0;
}

.jcarousel-view--proyectos-y-servicios--block-1 .views-field-path span.field-content {
	padding: 8px;
	background-color: #00B052;
	border-radius: 5px;
}

.jcarousel-view--catetorias-producto--bloque-nuestros-productos span.field-content,
.jcarousel-view--blog--bloque-noticias-promociones-home-page span.field-content{
	padding: 8px;
	background-color: #01A2D2;
	border-radius: 5px;
}

.jcarousel-view--proyectos-y-servicios--block-1 .views-field-path span.field-content a,
.jcarousel-view--catetorias-producto--bloque-nuestros-productos .views-field-path span.field-content a,
.jcarousel-view--blog--bloque-noticias-promociones-home-page span.field-content a{
	color: #fff;
	font-family: 'Roboto', serif;
	font-weight: 700;
	font-size: 13px;
	text-transform: uppercase;
}

/* sobreescribir el estilo de la navegacion de jcarousel */
.jcarousel-skin-default .jcarousel-next, .jcarousel-skin-default .jcarousel-prev {
	height: 36px;
	background-repeat: no-repeat;
	background-color: #fff;
}

.jcarousel-skin-default .jcarousel-prev-horizontal {
	top: -78px;
	left: 905px;
	width: 53px;
	background-position: 16px -1px;
	background-image: url('../images/jcarousel-prev.jpg');
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover,
.jcarousel-skin-default .jcarousel-next-horizontal:hover{
	/*opacity: 0.8;*/
}

.jcarousel-skin-default .jcarousel-prev-horizontal:hover{
	background-position: 16px -1px;
}
.jcarousel-skin-default .jcarousel-next-horizontal:hover{
	background-position: 7px -1px;
}

.jcarousel-skin-default .jcarousel-next-horizontal {
	top: -78px;
width: 43px;
right: 0px;
background-position: 7px -1px;
background-image: url('../images/jcarousel-next.jpg');
}

.panel-pane.pane-views.pane-proyectos-y-servicios { 
	border-top: 1px solid #00B052;
}

.panel-pane.pane-views.pane-catetorias-producto { 
	border-top: 1px solid #01A2D2;
	margin-top: 63px;
	padding-top: 60px;
	position: relative;
}

.panel-pane.pane-views.pane-blog,
.panel-pane.pane-views.pane-certificados{ 
	border-top: 1px solid #606060;
	margin-top: 63px;
	padding-top: 60px;
	position: relative;
}

.panel-pane.pane-views.pane-proyectos-y-servicios{
	margin-top: 40px;
	padding-top: 60px;
	position: relative;
}

.pane-proyectos-y-servicios h2.pane-title,
.pane-catetorias-producto h2.pane-title,
.pane-blog h2.pane-title,
.pane-certificados h2.pane-title
{
	position: absolute;
	top: -45px;
	background-color: #fff;
	padding-right: 85px;
}

.pane-catetorias-producto h2.pane-title,
.pane-blog h2.pane-title {
    font-family: "Roboto",sans-serif;
	font-weight: 700;
	font-size: 33px;
	font-style: normal;
	line-height: 35px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.pane-certificados h2.pane-title {
    font-family: "Roboto",sans-serif;
	font-weight: 700;
	font-size: 28px;
	font-style: normal;
	line-height: 35px;
	margin-bottom: 30px;
	text-transform: uppercase;
	color: #606060;
}

.pane-blog h2.pane-title {
	color: #606060;
}

.pane-catetorias-producto h2.pane-title {
	color: #01A2D2;
}

.bloque-nuestros-servicios,
.pane-catetorias-producto h2.pane-title,
.pane-certificados h2.pane-title,
.pane-catetorias-producto .jcarousel-skin-default .jcarousel-next, .pane-catetorias-producto .jcarousel-skin-default .jcarousel-prev,
.pane-catetorias-producto .jcarousel-item-horizontal,
.pane-certificados .jcarousel-item-horizontal,
.certificaciones {
	background-color: #F2F2F2;
}

.panels-flexible-row.panels-flexible-row-home_page-3.clearfix.gu.noticias-promociones {
margin-bottom: 93px;
}

.pane-catetorias-producto .jcarousel-skin-default .jcarousel-next{
 background-image: url('../images/jcarousel-productos-next.jpg');
}

.pane-catetorias-producto .jcarousel-skin-default .jcarousel-prev {
background-image: url('../images/jcarousel-productos-prev.jpg');
}

.pane-blog .jcarousel-skin-default .jcarousel-next{
 background-image: url('../images/jcarousel-blog-next.jpg');
}

.pane-blog .jcarousel-skin-default .jcarousel-prev {
background-image: url('../images/jcarousel-blog-prev.jpg');
}

.pane-catetorias-producto .jcarousel-item-horizontal,
.pane-blog .jcarousel-item-horizontal{
	text-align: left;
	margin: 0;
}

.pane-catetorias-producto .jcarousel-item-2,
.pane-catetorias-producto .jcarousel-item-5,
.pane-catetorias-producto .jcarousel-item-8,
.pane-catetorias-producto .jcarousel-item-11,
.pane-catetorias-producto .jcarousel-item-14,
.pane-catetorias-producto .jcarousel-item-17,
.pane-catetorias-producto .jcarousel-item-20,
.pane-catetorias-producto .jcarousel-item-23,
.pane-catetorias-producto .jcarousel-item-26,
.pane-catetorias-producto .jcarousel-item-29,
.pane-catetorias-producto .jcarousel-item-32,
.pane-catetorias-producto .jcarousel-item-35,
.pane-catetorias-producto .jcarousel-item-38,
.pane-catetorias-producto .jcarousel-item-41{
	padding-left: 25px;
}

.pane-catetorias-producto .jcarousel-item-3,
.pane-catetorias-producto .jcarousel-item-6,
.pane-catetorias-producto .jcarousel-item-9,
.pane-catetorias-producto .jcarousel-item-12,
.pane-catetorias-producto .jcarousel-item-15,
.pane-catetorias-producto .jcarousel-item-18,
.pane-catetorias-producto .jcarousel-item-21,
.pane-catetorias-producto .jcarousel-item-24,
.pane-catetorias-producto .jcarousel-item-27,
.pane-catetorias-producto .jcarousel-item-30,
.pane-catetorias-producto .jcarousel-item-33,
.pane-catetorias-producto .jcarousel-item-36,
.pane-catetorias-producto .jcarousel-item-39,
.pane-catetorias-producto .jcarousel-item-41 {
	padding-left: 50px;
}

.pane-blog .jcarousel-item-2,
.pane-blog .jcarousel-item-5,
.pane-blog .jcarousel-item-8,
.pane-blog .jcarousel-item-11,
.pane-blog .jcarousel-item-14,
.pane-blog .jcarousel-item-17,
.pane-blog .jcarousel-item-20,
.pane-blog .jcarousel-item-23,
.pane-blog .jcarousel-item-26,
.pane-blog .jcarousel-item-29,
.pane-blog .jcarousel-item-32,
.pane-blog .jcarousel-item-35,
.pane-blog .jcarousel-item-38,
.pane-blog .jcarousel-item-41{
	padding-left: 25px;
}

.pane-blog .jcarousel-item-3,
.pane-blog .jcarousel-item-6,
.pane-blog .jcarousel-item-9,
.pane-blog .jcarousel-item-12,
.pane-blog .jcarousel-item-15,
.pane-blog .jcarousel-item-18,
.pane-blog .jcarousel-item-21,
.pane-blog .jcarousel-item-24,
.pane-blog .jcarousel-item-27,
.pane-blog .jcarousel-item-30,
.pane-blog .jcarousel-item-33,
.pane-blog .jcarousel-item-36,
.pane-blog .jcarousel-item-39,
.pane-blog .jcarousel-item-41 {
	padding-left: 50px;
}

.pane-catetorias-producto .jcarousel-item .views-field-field-image img{
	border: 1px solid #ddd;
}

.pane-catetorias-producto .jcarousel-item .views-field-name h3,
.pane-blog .jcarousel-item .views-field-title h3{
	font-family: 'Roboto', serif;
	font-size: 19px;
	text-transform: uppercase;
	padding-right: 20px;
	margin: 0.7em 0 .7em;
	height: 55px;
}

.pane-catetorias-producto .jcarousel-item .views-field-name h3 a{
	color: #01A2D2;
}

.pane-blog .jcarousel-item .views-field-title h3 a{
	color: #1C75B8;
}

.panels-flexible-row.panels-flexible-row-home_page-1.clearfix.gu.bloque-proyectos-servicios {
margin-bottom: 75px;
}

.panels-flexible-row.panels-flexible-row-home_page-2.clearfix.gu.bloque-nuestros-servicios {
	padding-bottom: 47px;
}


/* Nivel 2 - Productos */

#block-block-6 h1,
.bloque-encabezado-producto h1 {
	margin-bottom: 0px !important;
	margin-top: 0px;
}

.vocabulary-categoria-productos h2 ,
.node-type-producto .views-field-field-categoria h2{
	font-size: 27px;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}

/* flexslider - imagenes */
.node-type-producto .flexslider img{
	border: 1px solid #ddd;
}

.node-type-producto .views-field-description p {
	margin-bottom: 30px;
}

.node-type-producto .field-name-title h3,
.field-name-field-detalle-producto-categoria h3,
.field-name-field-detalle-producto-categoria h3 b,
.field-name-field-detalle-producto-categoria h3 b span {
	margin: 0;
	font-family: 'Roboto', serif !important;
	font-weight: 700;
	color: #58595B;
	text-transform: uppercase;
	font-size: 27px !important;
	line-height: 25px;
	margin-top: -4px;
}

.node-type-producto .field-name-body,
.field-name-field-detalle-producto-categoria {
	padding-top: 5px;
	min-height: 250px;
	
}



.view-id-proyectos_y_servicios.page-proyectos-y-servicios h1#page-title{
	margin-bottom: 60px;
}

.taxonomy-term.vocabulary-categoria-productos .taxonomy-term-description {
    margin: 5px 0 45px;

}
.page-taxonomy-term .ds-2col-stacked > .group-left,
.page-taxonomy-term .ds-2col-stacked > .group-right {
	width: 49%;
}

.page-taxonomy-term .ds-2col-stacked > .group-left {
	margin-right: 10px;
	margin-top: 12px;
}

.node-type-producto .field-name-body p,
.node-type-producto .field-name-body p span,
.node-type-producto .field-name-body li,
.node-type-producto .field-name-body li span,
.field-name-field-detalle-producto-categoria p,
.field-name-field-detalle-producto-categoria p span,
.field-name-field-detalle-producto-categoria li,
.field-name-field-detalle-producto-categoria li span {
	font-family: 'Roboto', serif !important;
	font-weight: 300;
	color: #58595B;
	font-size: 15px !important;
}

.node-type-producto .field-name-body li {
	margin-bottom: 10px;
}

.node-type-producto .field-name-body p b,
.node-type-producto .field-name-body p b span {
	color: #000;
	font-weight: 600;
}

/* Ajustar el margen del bloque izq del layout */
.node-type-producto .panel-col-first .inside {
	margin: 0 1em .5em 0;
}

/* */

.node-type-producto .field-name-enlace-contacto,
.page-taxonomy-term .field-name-enlace-contacto {
	width: 100%;
	padding-left: 0;
	margin-top: 100px;
}

.node-type-producto .field-name-enlace-contacto p,
.page-taxonomy-term .field-name-enlace-contacto p {
	padding: 0;
	color: #00B052;
}

.node-type-producto .field-name-enlace-contacto a,
.page-taxonomy-term .field-name-enlace-contacto a {
	float: right;
	background-color: #00B052;

}

.page-taxonomy-term-2 #block-block-6 h1,{
	
}

.title-box-noticias-promociones h1#page-title{
    font-family: 'Roboto', sans-serif ;
	font-weight: 700;
	color: #01A2D2;
	font-size: 34px ;
	text-transform:  uppercase;
}

.view-display-id-pagina_noticias_promociones .views-field-title{
	margin-bottom: 8px;
}

.view-display-id-pagina_noticias_promociones .views-field-title a{
	font-family: 'Roboto', sans-serif ;
	font-weight: 700;
	color: #373739;
	font-size: 24px ;
}

.view-display-id-pagina_noticias_promociones .views-field-created,
.node-type-blog .field-name-post-date{
	width: 120px;
	float: left;
	padding-left: 26px;
	font-family: 'Roboto', sans-serif ;
	font-weight: 300;
	color: #58595B;
	line-height: 24px;
	font-size: 11px ;
	height: 24px;	
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left center;
	background-image: url(../images/bg-fecha-blog.png);
	margin-bottom: 25px;
}

.view-display-id-pagina_noticias_promociones .views-field-comment-count,
.node-type-blog .field-name-contador-comentarios{
	width: 120px;
	float: left;
	padding-left: 26px;
	font-family: 'Roboto', sans-serif ;
	font-weight: 300;
	line-height: 24px;
	color: #58595B;
	font-size: 11px ;
	height: 24px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left center;
	background-image: url(../images/bg-comentarios-count-blog.png);
	margin-bottom: 25px;
}

.view-display-id-pagina_noticias_promociones .views-field-sharethis .compartir-correo,
.node-type-blog .sharethis-buttons span{
	font-family: 'Roboto', sans-serif ;
	font-weight: 700;
	line-height: 11px;
	color: #01A2D2;
	font-size: 11px ;
	text-transform: uppercase;
	line-height: 24px;
	float: left;
}

.view-display-id-pagina_noticias_promociones .views-field-sharethis,
.node-type-blog .sharethis-buttons  {
	width: 165px;
	float: right;
	margin-bottom: 25px;
	height: 24px;
	
}

.view-display-id-pagina_noticias_promociones .views-field-sharethis .stButton .email,
.node-type-blog .sharethis-buttons  .stButton .email{
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left center;
	background-image: url(../images/bg-compartir-correo-blog.png);
	height: 14px;
    line-height: 20px;
    padding-left: 20px;
}
.node-type-blog .sharethis-buttons  .stButton .email{
	float: none;
	line-height: 16px;
}
.view-display-id-pagina_noticias_promociones .views-field-sharethis .sharethis-wrapper,
.node-type-blog .sharethis-buttons .sharethis-wrapper{
	float: left;
	width: 30px;
}

.view-display-id-pagina_noticias_promociones .views-field-body p{
	margin: 0;
}

.view-display-id-pagina_noticias_promociones .views-field-body p,
.view-display-id-pagina_noticias_promociones .views-field-body {
	font-family: 'Roboto', sans-serif ;
	font-weight: 300;
	line-height: 22px;
	color: #58595B;
	font-size: 16px ;

}

.view-display-id-pagina_noticias_promociones .views-field-body{
	margin-bottom: 15px;
}


.view-display-id-pagina_noticias_promociones .views-field-field-image{
	margin-bottom: 15px;
}

.view-display-id-pagina_noticias_promociones .views-field-path{
	margin-bottom: 20px;
}


.view-display-id-pagina_noticias_promociones .views-field-path a{
	background-color: #01a2d2;
    border-radius: 8px;
    color: #ffffff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 700;
    height: 32px;
    line-height: 32px;
    text-align: center;
    text-transform: uppercase;
    width: 96px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s; /* For Safari 3.1 to 6.0 */
}

.view-display-id-pagina_noticias_promociones .views-field-path a:hover{
	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

.view-display-id-pagina_noticias_promociones .views-row {
	border-bottom: 1px solid #C8C8C8 ;
	margin-bottom: 32px;
}

.page-noticias-y-promociones .main,
.node-type-blog .main{
	padding: 0;
}

.page-noticias-y-promociones.one-sidebar #sidebar-first,
.node-type-blog.one-sidebar #sidebar-first{
	padding: 0;
}

#block-views-blog-bloque-noticias-recientes,
#block-views-blog-bloque-ultimas-promociones{
	background-color: #fafafa;
	margin-bottom: 25px;
	width: 100%;
	padding: 25px 0 10px;
	float: left;
}

#block-views-blog-bloque-noticias-recientes h2,
#block-views-blog-bloque-ultimas-promociones h2{
	color: #01a2d2;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    margin: 0 20px 25px;
    text-transform: uppercase;
}

#block-views-blog-bloque-noticias-recientes .views-row,
#block-views-blog-bloque-ultimas-promociones .views-row{
	width: 100%;
	border-bottom: 1px solid #EDEEEE;
	float: left;
	padding: 0 20px 15px;
	margin-bottom: 20px;
	height: 102px;
}

#block-views-blog-bloque-noticias-recientes .views-row.views-row-last,
#block-views-blog-bloque-ultimas-promociones .views-row.views-row-last{
	border-bottom: 0px;
	margin-bottom: 0;
}


#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog{
	
	padding: 0;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .imagen,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .imagen{
	padding: 0;
	width: 30%;
	float: left;

}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog{
	width: 66%;
	float: right;
	padding: 0;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog h3,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog h3{
	color: #373739;
    font-family: "Roboto",sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog h3 a,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog h3 a{
	color: #373739;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios{
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 11px;
    font-weight: 300;
    line-height: 13px;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios span,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios span{
	display: inline;
    float: none;
    padding: 0;
    width: auto;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios span.fecha-creacion,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios span.fecha-creacion{
	padding-right: 3px;
}
#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios span.conteo-comentarios,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog .fecha-comentarios span.conteo-comentarios{
	padding-left: 3px;
}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog .descripcion-blog ,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog .descripcion-blog {
	padding: 0;

}

#block-views-blog-bloque-noticias-recientes .views-row .contenedor-resumen-blog .detalle-blog .descripcion-blog p,
#block-views-blog-bloque-ultimas-promociones .views-row .contenedor-resumen-blog .detalle-blog .descripcion-blog p{
	margin: 5px 0 0 0;
	color:#58595B;
	font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}


.view-display-id-pagina_noticias_promociones .pager{
	margin-bottom: 50px;

}

.view-display-id-pagina_noticias_promociones .pager li{
	padding: 5px 15px;
	background-color: #f4f4f4;
	border-radius: 5px;
	font-family: "Roboto",sans-serif;
	font-weight: 400;
	margin: 0 5px;
	color:#58595B;
}

.view-display-id-pagina_noticias_promociones .pager li a{
	
	color:#58595B;
}

.view-display-id-pagina_noticias_promociones .pager li a:hover{
	
	color:#01a2d2;
}

.view-display-id-pagina_noticias_promociones .pager li.pager-current{
	color:#01a2d2;
	font-weight: 700;
} 

#title-blog{
		color: #01a2d2;
    font-family: "Roboto",sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
     line-height: 35px;
    margin-bottom: 38px;
    margin-top: 14px;
}

.node-type-blog .field-name-title {
	display: none;
}

.node-type-blog h1#page-title{
	color: #373739;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 11px;
    text-transform: none;
    line-height: 30px;
}

.node-type-blog .flexslider {
	clear: both;
	margin-bottom: 0;
}

.node-type-blog .field-name-body{
	padding-top: 15px;
}

.node-type-blog .field-name-body p{
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.node-type-blog .field-name-sharethisfull .stButton .stFb,
.node-type-blog .field-name-sharethisfull .stButton .stTwbutton,
.node-type-blog .field-name-sharethisfull .stButton .stMainServices
{
	height: 26px;
}

.node-type-blog .field-name-sharethisfull .stButton .stButton_gradient{
	height: 23px;
}

.node-type-blog #comments{
	margin-top: 50px;

}

.node-type-blog #comments h2{
	color: #01A2D2;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.node-type-blog #comments .comment {
	background-color: #EDEEEE;
	border-right: 5px solid #01A2D2;
	padding: 18px 30px 15px;
	margin-bottom: 40px;
}

.node-type-blog #comments .comment .mensaje-mas-autor {
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.node-type-blog #comments .comment .mensaje-mas-autor .nombre-autor{
	color: #01A2D2;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 700;
}

.node-type-blog #comments .comment:before {
	background-color: transparent;
    background-image: url("../images/flecha-comentarios.png");
    background-position: 28px bottom;
    background-repeat: no-repeat;
    color: #fff;
    content: ".";
    display: block;
    float: left;
    margin-left: -30px;
    margin-top: -45px;
    padding: 0;
    width: 100px;
}



/******* ANDREY :: 05-12-2014 *********/

/* COMENTARIOS */

#comment-form input.form-text,
#comment-form textarea.form-textarea{
	border:  solid 1px #CDCFD0;
	padding-left: 10px;
	padding-top: 10px;
	font-family: "Roboto",sans-serif;
	font-size: 13px;
	color: #58595B;	
}
#comment-form input.form-text{
	height: 45px;
	width:  49%;
	float: left;
	padding-top: 0px;
}
#comment-form input#edit-name{
	margin-right: 10px;
}
#comment-form #comment-body-add-more-wrapper{
	float: left;
	width: 100%;

}

#comment-form input#edit-submit,
#webform-client-form-52 .form-submit{
	width: 80px;
	height: 32px;
	background-color: #01A2D2;
	border: none;
	color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;		
}
#comment-form input#edit-submit:hover,
#webform-client-form-52 .form-submit:hover{
	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px);
    -webkit-transform: translate(0px, -2px);
}

/* CONTACTO */
.webform-component--nombre{
	margin-top: 0px;
}
#webform-client-form-52 .form-text,
#webform-client-form-52 .form-select{
	background-color: #EDEEEE;
	width: 100%;
	height: 53px;
	border: none;
	padding-left:  15px;
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 300;	
}
#webform-client-form-52 .form-select{
	width: 100%;
}
#webform-client-form-52 .form-textarea{
	background-color: #EDEEEE;
	border: none;
	padding-left:  15px;
	padding-top: 15px;
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 300;		
}

.panels-flexible-contacto .panels-flexible-row{
	padding-bottom: 30px;
}

.panels-flexible-row-contacto-main-row{
	border-top: solid 1px #01A2D2;

}

.prefooter-sucursales-box{
	margin-bottom: 40px;
}
.link-tel{
	color: #FFF !important;
}
.panels-flexible-row-contacto-main-row .sucursal{
	width: 32.6%;
	float: left;
	background-color: #01A2D2;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #FFF;
	margin-right:  1%;	
}
.panels-flexible-row-contacto-main-row .sucursal3{
	margin-right: 0px;
}
.panels-flexible-row-contacto-main-row .sucursal .link-mapa{
	width: 60px;
	padding-top:  30px;
	padding-left: 7px;
	float: left;
}
.panels-flexible-row-contacto-main-row .sucursal .link-mapa img{

}
.panels-flexible-row-contacto-main-row .sucursal .info-sucursal{
	float: left;
}
.panels-flexible-row-contacto-main-row .sucursal .info-sucursal p{
	line-height:  20px;
	margin-bottom: 0.8em;
}




/* RESULTADOS BUSQUEDAS */


#sidebar-first{

}

#block-block-7{
	display: block;
	float: left;
	background-color: #FAFAFA;
	border-bottom: 1px #EDEEEE solid;
}
#block-block-7 .content{
	padding: 8px 0px 8px 0px;
}

.title-box{
	color: #01A2D2;
    font-family: "Roboto",sans-serif;
    font-size: 24px;
    font-weight: 300;
    padding: 10px 0px 10px 30px;
    text-transform: uppercase;
}

.sucursales-box{
	width: 100%;
	padding:  15px 0px;
	padding-left: 30px;
	float: left;
	border-top: 1px #EDEEEE solid;
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;	
}

.sucursales-box .link-ver-mapa{
	color: #01A2D2;
}

.image-box-sucursal{
	width: 40px;
	float: left;
	padding-top: 10px;
}
.info-sucursal-box{
	float: left;
}

#edit-advanced{
	display: none;
}

#search-form .form-text{
	background-color: #EDEEEE;
	width: 85%;
	height: 32px;
	border: none;
	padding-left:  15px;
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 300;	
}
#search-form .form-item-keys label{
	color: #58595B;
    font-family: "Roboto",sans-serif;
    font-size: 17px;
    font-weight: 300;
}
#search-form .form-submit{
	width: 80px;
	height: 32px;
	float: right;
	background-color: #01A2D2;
	border: none;
	color: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;		
}
.page-search h1#page-title {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #01A2D2;
	font-size: 34px;
	text-transform: uppercase;
}
.search-results{
	margin-left: 0px;
	padding-left: 0px;
}
.search-result{
	margin-left: 0px;
	padding-left: 0px;
	font-family: 'Roboto', sans-serif;
	border-bottom: 1px solid #C8C8C8;
}
.search-result .search-snippet-info{
	margin-left: 0px;
	padding-left: 0px;
}

.search-result h3.title{
	
	font-weight: 400;
	color: #373739;
	font-size: 18px;
	margin: 10px 0px;
}
.search-result .search-snippet-info p{
	font-weight: 300;
	color: #58595B;
	font-size: 16px;
	line-height:  18px;
}
.search-info{
	display: none;
}




.pane-catetorias-producto .jcarousel-item .views-field-description,
.pane-catetorias-producto .jcarousel-item .views-field-name{
	width: 281px;
}

.node-producto.node-teaser .field-name-body .field-items p{
	margin-bottom: 0px;
}
.node-producto.node-teaser .field-name-body .field-items ul{
	margin: 0px;

}


/* style certificados por: */
.node-type-proyectos-y-servicios .certificaciones {
	background-color: #fff;
}

.node-type-proyectos-y-servicios .certificaciones .listado {
	padding: 0;
}

.node-type-proyectos-y-servicios .certificaciones .listado li {
	display: inline-block;
	list-style: none;
}

/**************************************/