/* CSS Global para todo el sitio */
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,600,700|Roboto:400,300,700);


html {
 border-top: none; 
}

body {
	 margin: 0;
}

a:link,
a:visited {
  border-bottom: none;
}
a:hover{
	background-color: transparent;
}

/* Preheader */
.pre-header{
	background-color: #01A2D2;
}

.pre-header .pre-header-grid{
	width: 100%;
	padding: 0 4%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-block-1{
	width: 80%;
	margin: 10px auto 0;
	height: 27px;
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box{
	width: 100%;
}
.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes{
	float: left;
	width: 27px;
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes a{
	
	display: block;
	transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes a:hover{
	transform: translate(0px, -2px);
	-ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

.pre-header .pre-header-grid #block-block-1 .preheader-redes-box .redes.redes-linkedin {
    margin-right: 5px;
}

.pre-header .pre-header-grid #block-search-form{
	width: 80%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-search-form input#edit-search-block-form--2{
	border: 0;
	border-radius: 5px 5px 5px 5px;
	background-color: #017D9D;
	width: 173px;
	height: 33px;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 400;
	font-size: 14px;
	text-transform: uppercase;
	line-height: normal;
	padding: 0 8px;
}
.pre-header .pre-header-grid #block-search-form label{
	display: none;
}

.pre-header .pre-header-grid #block-search-form #edit-actions{
	position: absolute;
    right: 6px;
    top: 3px;
}

.pre-header .pre-header-grid #block-search-form #search-block-form{
	position: relative;
}

.pre-header .pre-header-grid #block-block-2{
	width: 80%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-block-2 a,
.pre-header .pre-header-grid #block-block-2 a:hover,
.pre-header .pre-header-grid #block-block-2 a:visited{
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	font-weight: 700;
	font-size: 13px;
}
	
.pre-header .pre-header-grid #block-block-2 .telefono-box-inner{
	padding-left: 28px;
	width: 100%;
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/preheader-telefono-icon.png);
}

.pre-header .pre-header-grid #block-block-2 .preheader-telefono-box {
	height: 100%;
	 padding-top: 8px;	
}

.pre-header .pre-header-grid #block-block-3{
	width: 80%;
	margin: 0 auto;
}

.pre-header .pre-header-grid #block-block-3 a,
.pre-header .pre-header-grid #block-block-3 a:hover,
.pre-header .pre-header-grid #block-block-3 a:visited{
	color: #ffffff;
    display: block;
    font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}

.pre-header .pre-header-grid #block-block-3 .correos-box-inner{
	padding-left: 32px;
	width: 100%;
	background-color: transparent;
	background-position: left center;
	background-repeat: no-repeat;
	background-image: url(../images/preheader-correos-icon.png);
}

.pre-header .pre-header-grid #block-block-3 .preheader-correos-box{
    padding-top: 6px;
}



/* Header */

.header{
	background-color: #ffffff;
	border-bottom: 6px solid #00B052;
	min-height: 155px;
}

.header .grid{
	width: 100%;
	margin: 0 auto;
	padding: 0 4%;
}

#block-system-main-menu{

}
#block-system-main-menu ul {
	margin: 0;
	padding: 0;	
}

#block-system-main-menu ul li{
	display: inline-block;
	padding:0;
	margin: 0;
	list-style-type: none;
	height: 30px;
	float: left;
}

#block-system-main-menu ul li a{
	font-family: "Roboto",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 16px;
    color: #6D6E71;
    transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
#block-system-main-menu ul li a:hover{
	
    color: #01A2D2;
}
#block-system-main-menu ul li a.active{
	color: #01A2D2;
}

#block-system-main-menu ul li.menu-218{
	margin-right: 24px;
    width: 32px;
    height: 30px;

}
#block-system-main-menu ul li.menu-218 a{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left -2px;
	background-image: url(../images/logo-home-menu.png);
	overflow: hidden;
    padding-left: 35px;
    width: 32px;
    height: 100%;
}

#block-system-main-menu ul li.menu-591{
	padding-right: 18px;
    width: 83px;

}

#block-system-main-menu ul li.menu-592{
	 padding-right: 20px;
    width: 106px;
}

#block-system-main-menu ul li.menu-593{
	padding-right: 24px;
    width: 108px;
}

#block-system-main-menu ul li.menu-594{
	padding-right: 20px;
    width: 120px;
}

#block-system-main-menu ul li.menu-595{
	width: 70px;
}


.footer{
	max-width: 100%;
    width: 100%;
	margin: 0;
	background-color: #414042;
	min-height: 520px;
	padding-top: 26px;
}

.parrafo-izq, .parrafo-der {
	float: left;
	width: 49.5%;	

}

.footer .grid{
	width: 100%;
	padding: 0 4%;
	margin: 0 auto;
}

.footer #block-menu-block-1{
    margin-top: 8px;
}

.footer #block-menu-block-1 ul {
    margin: 0;
    padding: 0;
}

.footer #block-menu-block-1 ul li{
	display: inline-block;
	padding:0;
	margin: 0;
	list-style-type: none;
	height: 30px;
	float: left;
}

.footer #block-menu-block-1 ul li a{
	font-family: "Roboto",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 16px;
    color: #AFAFAF;
    transition: all 0.2s ease 0s;
	-webkit-transition: all 0.2s ease 0s;
}
.footer #block-menu-block-1 ul li a:hover{
	
    color: #01A2D2;
}
.footer #block-menu-block-1 ul li a.active{
	color: #01A2D2;
}

.footer #block-menu-block-1 ul li.menu-218{
	margin-right: 24px;
    width: 32px;
    height: 30px;

}
.footer #block-menu-block-1 ul li.menu-218 a{
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left -2px;
	background-image: url(../images/logo-home-menu-footer.png);
	overflow: hidden;
    padding-left: 35px;
    width: 32px;
    height: 100%;
}

.footer #block-menu-block-1ul li.menu-591{
	padding-right: 18px;
    width: 83px;

}

.footer #block-menu-block-1 ul li.menu-592{
	 padding-right: 20px;
    width: 106px;
}

.footer #block-menu-block-1 ul li.menu-593{
	padding-right: 24px;
    width: 108px;
}

.footer #block-menu-block-1 ul li.menu-594{
	padding-right: 20px;
    width: 120px;
}

.footer #block-menu-block-1 ul li.menu-595{
	width: 70px;
}

.footer #block-block-4{
	width: 224px;
	float: right;
	text-align: right;
}

.footer #block-block-4 .correo-box a{
	display: block;
	font-family: "Roboto",sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
    color: #AFAFAF;
}

.footer #block-block-4 .correo-box{
	width: 100%;
	padding-left: 30px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: left 2px;
	background-image: url(../images/footer-correo-icon.png);
}

.footer #block-block-4 .redes-box .redes-box-linkedin,
.footer #block-block-4 .redes-box .redes-box-youtube{
	width: 36px;
	float: left;
}

.footer #block-block-4 .redes-box .redes-box-linkedin{
	margin-right: 5px;
}

.footer #block-block-4 .redes-box  {
    float: right;
    width: 78px;
    margin-top: 10px;
}

.footer #block-block-4 .redes-box a{
	transition: all 0.2s linear 0s;
	-webkit-transition: all 0.2s linear 0s;
	display: block;
}

.footer #block-block-4 .redes-box a:hover{
	transform: translate(0px,-2px);
	ms-transform: translate(0px, -2px); /* IE 9 */
    -webkit-transform: translate(0px, -2px);
}

#imageData #bottomNav{
	display: none !important;
}

.prefooter{
	min-height: 88px;
	width: 100%;
	max-width: 100%;
	background-color: #313032;
}

.prefooter .grid{
	width: 100%;
	padding: 0 4%;
	margin: 0 auto;
}

.prefooter .sucursal{
	
	float: left;
	margin: 15px 0;
	border-left: 1px solid #676668;
	height: 57px;
	padding-left: 42px;
}

.prefooter .sucursal.sucursal1{
	width: 303px;
}

.prefooter .sucursal.sucursal2{
	width: 350px;
}

.prefooter .sucursal.sucursal3{
	border-right: 1px solid #676668;
	width: 342px;
}

.prefooter .sucursal .link-mapa{
	width: 44px;
	float: left;
	height: 100%;


}

.prefooter .sucursal .info-sucursal{
	float: left;
	height: 100%;
	margin-left: 14px;
}

.prefooter .sucursal1 .info-sucursal{
	width: 200px;
}

.prefooter .sucursal2 .info-sucursal{
	width: 245px;
}

.prefooter .sucursal3 .info-sucursal{
	width: 240px;
}

.prefooter .sucursal .info-sucursal p{
	margin: 0;
	font-family: 'Exo 2', sans-serif;
	font-size: 14px;
	font-weight: 600;
	color: #AFAFAF;
}

.prefooter .sucursal .info-sucursal p a{
	margin: 0;
}

.field-name-field-banner-proyectos-servicios {float: left;}