/*  CSS para layout de Tablet */

@media only screen and (min-width: 45em) { /* > 720 */

.pre-header{
	min-height: 46px;
	height: 46px;
}

.pre-header .pre-header-grid{
	width: 740px;
	padding: 0;
	height: 100%;
}

.pre-header .pre-header-grid #block-block-1{
	width: 	60px;
	float: left;

}

.pre-header .pre-header-grid #block-search-form{
	width: 202px;
	float: left;
	padding: 6px 15px 0;
	height: 100%;
	border-right: 1px solid #fff;
	margin-left: 90px;

}

.pre-header .pre-header-grid #block-block-2{
	width: 143px;
	float: left;
	padding: 0 0 0 7px;
	border-right: 1px solid #fff;
	height: 100%;
}
.pre-header .pre-header-grid #block-block-3{
	width: 244px;
	float: left;
	border-right: 1px solid #fff;
	height: 100%;
	padding: 0 0 0 7px;
}

/* Header */

.header .grid{
	width: 740px;
	margin: 0 auto;
	padding: 0;
}

#block-system-main-menu{
	width: 500px;
	float: right;
}

}
