.panels-flexible-home_page .panels-flexible-region {
  padding: 0;
}

.panels-flexible-home_page .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-home_page .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-home_page .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-home_page .panels-flexible-column {
  padding: 0;
}

.panels-flexible-home_page .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-home_page .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-home_page .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-home_page .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-home_page .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-home_page-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-home_page-inside {
  padding-right: 0px;
}

.panels-flexible-home_page {
  width: auto;
}

.panels-flexible-region-home_page-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-home_page-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-region-home_page-seccion_servicios {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-home_page-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-home_page-seccion_nuestros_productos {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-home_page-2-inside {
  padding-right: 0px;
}

.panels-flexible-region-home_page-seccion_noticias_y_promociones {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-home_page-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-home_page-seccion_certificaciones {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-home_page-4-inside {
  padding-right: 0px;
}

