.panels-flexible-contacto .panels-flexible-region {
  padding: 0;
}

.panels-flexible-contacto .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-contacto .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-contacto .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-contacto .panels-flexible-column {
  padding: 0;
}

.panels-flexible-contacto .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-contacto .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-contacto .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-contacto .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-contacto .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-contacto-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-contacto-inside {
  padding-right: 0px;
}

.panels-flexible-contacto {
  width: auto;
}

.panels-flexible-column-contacto-2 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-column-contacto-3 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-contacto-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-contacto-columna_izquierda {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-contacto-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-contacto-columna_derecha {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-contacto-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-contacto-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-contacto-main-row-inside {
  padding-right: 0px;
}

